@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat';
    font-size: 1.15rem;
    color: white;
    min-height: 100vh;
    max-width: 500px;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -2;
    background: url('background.png') center center/cover no-repeat;
    height: 100vh;
    filter: grayscale(1) saturate(.5) brightness(.5);
    pointer-events: none;
}
body::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    height: 100vh;
    background: #1271ba;
    mix-blend-mode: color;
    opacity: .5;
    pointer-events: none;
}

.huge-heading {
    @apply font-bold;
    font-size: 2.5rem;
}

.card {
    @apply mb-5;
    position: relative;
    border-radius: 15px;
    color: white;
    background: rgba(255, 255, 255, 10);
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.2) 100%, rgba(255, 255, 255, .4) 0%);
    border: 1px solid rgba(255, 255, 255, 0.3)!important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

/* Countdown */
.countdown-item {
    @apply text-white flex flex-col items-center justify-center w-1/5 aspect-square p-0;
    margin: 0!important;
}
.colon {
    height: 1.5rem;
    opacity: .5;
    margin-top: auto;
    margin-bottom: auto;
}

/* Call to action button */
.cta-button {
    @apply flex px-3 py-2;
    background: linear-gradient(145deg, rgba(230, 72, 15, .9) 100%, rgba(230, 72, 15, 1) 0%);
    box-shadow: 0px 0px 50px 0px rgba(195,79,39,.25);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    width: fit-content;
}

/* Google Reviews */
.es-review-background-container {
    border-radius: 15px;
    color: white;
    background: rgba(255, 255, 255, 10)!important;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.2) 100%, rgba(255, 255, 255, .4) 0%)!important;
    border: 1px solid rgba(255, 255, 255, 0.3)!important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}
.es-review-container {
    border-radius: 15px;
}
.es-popup-content-container {
    background-color: rgba(0, 0, 0, .75)!important;
}